/* index.css for RegisterPage */
.register-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.login-heading {
    font-size: 35px;
    margin-bottom: 20px;
    color: #888888;
    font-weight: normal;
}

.login-form {
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
.input-field-register {
    width: 92.2%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.login-button {
    width: 95%;
    padding: 15px;
    background-color: #005B41;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #008170;
}

.login-links {
    margin-top: 20px;
}

.login-links a {
    text-decoration: none;
    margin: 0 10px;
    color: #888888;
    font-weight: bold;
    font-size: 18px;
}

.name-fields {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 2rem;

}